.bg-overlay {
  background: url("../../../../assets/images/gemfin-final-forget-password.svg")
    no-repeat;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  object-fit: fill;
  background-size: cover;
  height: 100vh;
}
