/* .heading {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #000000;
}

.mat-tab-styling ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  height: 4px;
  background-color: #01529E;
}

.mat-tab-styling ::ng-deep .mat-tab-list .mat-tab-label{
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}

.mat-tab-styling ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active{
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #01529E;
}

.mat-tab-styling ::ng-deep .mat-tab-body-wrapper{
  margin-top: 23px;
}
.margin-styling{
margin-left:-3.4rem;
}
:host ::ng-deep .mobile-select-options .mat-select-value{
  color: #01529E !important;
}
.fund-value-image{
  background-image: url('../../../../assets/images/wallet.svg');
  background-size: cover;
}

.total-return-image{
  background-image: url('../../../../assets/images/returns.svg');
  background-size: cover;
}

.active-sip-image{
  background-image: url('../../../../assets/images/Active SIP.svg');
  background-size: cover;
}

.active-funds-image{
  background-image: url('../../../../assets/images/money.svg');
  background-size: cover;
}
.profile-card-image{
  background-image: url('../../../../assets/images/def.svg');
  background-size: cover;
  height: 65px;
  width: 65px;
} */
.mat-tab-styling ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
  height: 4px;
  background-color: #56C596;
  border-radius: 5px;
}

:host ::ng-deep .mat-tab-styling ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #4D4D4D;
}

.mat-tab-styling ::ng-deep .mat-tab-body-wrapper{
  margin-top: 23px;
}

::ng-deep.mat-tab-label-active{
  opacity: 1.0!important;
}

.tab-heading{
  margin-top: -0.5vh;
}

