    
  <div class="container">
    <div class="image-container">
      <img src="../../../../assets/images/error404combined.png" alt="Image Placeholder">
    </div>
    <div class="text-container">
      <p class="text-styling"> ERROR 404 </p>        
      
          <p class="paragraph1">Uh-oh! We Couldn't Locate the Page</p>
        
        <div>
          <p class="paragraph2">Can't find what you're looking for. Double-check the URL, <br>
            search or use navigation to find relevant sections.<br>
            Need help? <a href="mailto:techsupport@gemfin.in">Contact Support</a>
          </p>

        </div>
        <div><br>
          <button (click)="returnToHome()" id="submit-button">
            <img src="../../../../assets/images/proceed-to-home.svg">
            Proceed to Home</button>
        </div>
        <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
