.button-allingment{
margin-top: 1rem;
display: flex;
justify-content: center;
}


h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #1A1A1A;
}

.OTP-inputs-conatiner{
    display: flex;
    justify-content: space-between;
}
  .OTPwidth{
    width:52.73px !important;
    height: 52.73px;
}

.update-password-close-icon{
    display: flex;
    float: right;

}
::ng-deep .mat-dialog-container{
    border-radius: 16px !important;
  }

.otp-email{
    width: 100%;
    display: flex;
    padding: 10px;
    font-size: medium;
    border: 2px solid #D9D9D9;
    color: #1A1A1A;
    border-radius: 5px;
    margin: 35px 0 !important;
}
.otp-validation{
    padding: 0 10%;
}

.otp-text{
    font-size: 15px;
}