<!-- <div class="text-center">
    <img src="../../../assets/images/confirm-password.svg" alt="error">
   <h2 class="mt-3">Update Password ?</h2>
   <p class="mt-3">Are you sure you want to update password?</p>
   <div class="button-allingment"> 
    <button (click)="close()" type="button" id="discard-button">No</button>
    <button (click)="submit()" id="submit-button">Yes</button>
</div>
</div> -->

<div class="update-password-close-icon" (click)="close()">
  <mat-icon>
    <img src="../../../../assets/images/close-icon.svg" />
  </mat-icon>
</div>

<div class="otp-validation">
  <div class="mt-3 text-center">
    <p class="login-heading">OTP Verification</p>
  </div>
  <div>
    <p  class="otp-text">Enter the one time password recieved on the Email id provided</p>
  </div>

  <div class="otp-email">
    <div>
      <mat-icon class="mb-2 ms-2 me-3">
        <img src="../../../../assets/images/mail-icon.svg" />
      </mat-icon>
    </div>
    <div class="mt-2">
        {{this.rmEmail}}
    </div>
  </div>
  <form [formGroup]="ForgetForm">
    <div class="flex form-otp text-center pb-3 OTP-inputs-conatiner">
      <input
        class="text-center form-control OTPwidth"
        #txt1
        maxlength="1"
        type="text"
        formControlName="otp1"
        (keyup)="move($event, '', txt1, txt2)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      />
      <input
        class="text-center form-control OTPwidth"
        #txt2
        maxlength="1"
        type="text"
        formControlName="otp2"
        (keyup)="move($event, txt1, txt2, txt3)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      />
      <input
        class="text-center form-control OTPwidth"
        #txt3
        maxlength="1"
        type="text"
        formControlName="otp3"
        (keyup)="move($event, txt2, txt3, txt4)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      />
      <input
        class="text-center form-control OTPwidth"
        #txt4
        maxlength="1"
        type="text"
        formControlName="otp4"
        (keyup)="move($event, txt3, txt4, txt5)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      />
      <input
        class="text-center form-control OTPwidth"
        #txt5
        maxlength="1"
        type="text"
        formControlName="otp5"
        (keyup)="move($event, txt4, txt5, txt6)"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      />
      <input
        class="text-center form-control OTPwidth"
        #txt6
        maxlength="1"
        type="text"
        formControlName="otp6"
        (keyup)="move($event, txt5, txt6, '')"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        (keyup)="verifyOtpFn()"
      />
    </div>
  </form>
  <!-- <div class=" mt-3" [ngClass] = "{'disableResend' : !this.resendOTP}"> -->

  <!-- <a style="cursor:pointer;" class="to-new-page-resend float-end"(click)=" resend()">Resend OTP
      </a> -->
  <!-- </div> -->

  <div class="my-5">
    <!-- <a style="cursor:pointer;" class="to-new-page"(click)="backToForgetEmail()">Wrong email ID? Edit -->
    <!-- </a> -->
  </div>
</div>
