<div class="text-center">
   <mat-icon class="close-icon" (click)="onClose()">close</mat-icon>
  <span class="heading">Generate Organization Report</span>
  <p class="mt-3">Select the report type and duration to <br> generate report.</p>

  <div class="form-containers">
    <form [formGroup]="modalForm">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label class="mat-label-field">Report Type<span class="asterisk-color">*</span></mat-label>
            <mat-select formControlName="reportType" placeholder="Select">
                <mat-option *ngFor="let report of reportTypeOptions" [value]="report">
                    {{report}}</mat-option>
            </mat-select>
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>

            <mat-error *ngIf="modalForm.get('reportType')?.hasError('required')">
                Report Type is required
            </mat-error>
        </mat-form-field>

     
        <mat-form-field class="w-100" appearance="outline">
            <mat-label class="mat-label-field">Start date<span class="asterisk-color">*</span></mat-label>
            <input class="enable-input-fields" (mousedown)="picker.open();$event.preventDefault()"
                [max]="this.today" readonly matInput [matDatepicker]="picker" 
                placeholder="Select"  formControlName="startDate" />
            <mat-datepicker-toggle matSuffix [for]="picker" ><img class="date-icon" matDatepickerToggleIcon src="../../../assets/images/date-icon.svg" alt=""></mat-datepicker-toggle>
            <mat-datepicker #picker (closed)="modalForm.get('startDate')?.markAsTouched()"></mat-datepicker>
            <mat-error *ngIf="modalForm.get('startDate')?.hasError('required')">
                Start Date is required
            </mat-error>
        </mat-form-field>
       

        <mat-form-field class="w-100" appearance="outline">
            <mat-label class="mat-label-field">End date<span class="asterisk-color">*</span></mat-label>
            <input class="enable-input-fields" (mousedown)="picker2.open();$event.preventDefault()"
                [min]="this.modalForm.value.startDate" [max]="this.today" readonly matInput
                [matDatepicker]="picker2" formControlName = "endDate"  placeholder="Select" />
            <mat-datepicker-toggle matSuffix [for]="picker2"> <img class="date-icon" matDatepickerToggleIcon src="../../../assets/images/date-icon.svg" alt=""></mat-datepicker-toggle>
            <mat-datepicker #picker2 (closed)="modalForm.get('endDate')?.markAsTouched()"></mat-datepicker>
            <mat-error *ngIf="modalForm.get('endDate')?.hasError('required')">
                End Date is required
            </mat-error>
            <mat-error *ngIf="dateRangeValidator(this.modalForm.value)">
                End Date must be greater then or equal to the Start Date .
              </mat-error>
        </mat-form-field>

        <div class="mt-2">
            <button id ="submit-button" (click)="onSubmit()" >Generate</button>  
        </div>
        
      </form>
  </div>
 
</div>
