.OTPwidth {
  width: 44px !important;
  height: 52.73px;
}

.OTP-inputs-conatiner {
  display: flex;
  justify-content: space-around;
}

.to-new-page-resend {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #01529e;
  cursor: pointer;
  text-decoration: none;
}

.disableResend {
  opacity: 0.5;
  pointer-events: none;
  background-color: lightgray;
  cursor: not-allowed;
}
