<div class="container">
  <div class="row right-styling">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button type="button" class="close" (click)="onClose1()" aria-label="Close">
        <img src='../../../../../assets/images/close.svg'>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-styling mt-4">
      <mat-card-title class="heading">Invite Broker</mat-card-title>
    </div>
  </div>
  <div class="row mt-5 table-styling cursor-styling" [ngClass]="{'table-responsive': mobile==true,'body':mobile==false}">
    <table mat-table [dataSource]="dataSource"  matSort (matSortChange)="sortData(sort)" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="selectCheckbox">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>
          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td class="table-data-styling" mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Broker ID Column -->
      <ng-container matColumnDef="brokerId">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="brokerId"> Broker ID </th>
        <td class="table-data-styling" mat-cell *matCellDef="let element"> {{element.brokerId}} </td>
      </ng-container>

      <!-- Broker Name Column -->
      <ng-container matColumnDef="brokerName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="brokerName"> Broker Name </th>
        <td class="table-data-styling" mat-cell *matCellDef="let element"> {{element.firstName + " " + element.lastName}} </td>
      </ng-container>

      <!-- Email ID Column -->
      <ng-container matColumnDef="emailId">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="emailId"> Email ID </th>
        <td class="table-data-styling" mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Contact No. Column -->
      <ng-container matColumnDef="contactNumber">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="contactNumber"> Contact No. </th>
        <td class="table-data-styling" mat-cell *matCellDef="let element"> {{element.contact}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <div *ngIf="!dataSource.data.length" class="no_record center-align">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img src="../../../../assets/images/cross-icon.svg" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          No records found!
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="dataSource.data.length" class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 center-styling">
      <button (click)="sendInvite()" class="button-styling">Send Invite ({{selection?.selected?.length}})</button>
    </div>
    <div *ngIf="selection?.selected?.length==0 && this.BrokerNotSelectedBoolean==true" class="center-styling">
      <p class="warning">Select at least one broker to send an invite</p>
    </div>
  </div>
  <div *ngIf="!dataSource.data.length" class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 center-styling">
      <button (click)="sendInvite()" class="disable-button-styling">Send Invite ({{selection?.selected?.length}})</button>
    </div>
  </div>
</div>
