  <div *ngIf="this.mobile==false">
    <mat-form-field appearance="outline" class="search-filter">
      <input  matInput (keyup)="applyFilter($event)" autocomplete="off" type="text" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div *ngIf="this.mobile==false" [ngClass]="{'body':mobile==false}" class="table-styling">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData(sort)" class="w-100">

           <!-- Fund Name Column -->
          <ng-container matColumnDef="fundName">
              <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header>Fund Name</th>
              <td class="table-data-styling classNav" mat-cell *matCellDef="let element">
                  <a (click)="routePortfolio(element.clientName)" class="client-id classNav">{{element.fundName}}</a>
              </td>
          </ng-container>

          <!-- NAV Column -->
          <ng-container matColumnDef="nav">
              <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header>Current NAV(₹)</th>
              <td class="table-data-styling" mat-cell *matCellDef="let element">
                  {{element.nav}}
              </td>
          </ng-container>

          <!-- Value Column -->
          <ng-container matColumnDef="value">
              <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header>Current Value(₹)</th>
              <td class="table-data-styling" mat-cell *matCellDef="let element">
                  {{element.value}}
              </td>
          </ng-container>

          <!-- Return Rate Column -->
          <ng-container matColumnDef="returnRate">
            <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header>Absolute Return rate(%)</th>
            <td class="table-data-styling" mat-cell *matCellDef="let element">{{element.returnRate}}
            </td>
          </ng-container>

          <!-- Exit Load Column -->
          <ng-container matColumnDef="exitLoad">
              <th class="head" mat-header-cell *matHeaderCellDef mat-sort-header>Exit Load(%)</th>
              <td class="table-data-styling" mat-cell *matCellDef="let element">
              {{element.exitLoad}}
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- No Records Table -->
      <div *ngIf="!dataSource.data.length" class="no_record center-align">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                  <img src="../../../../assets/images/cross-icon.svg">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  No records found!
              </div>

          </div>
      </div>

      <!--TODO: Paginator -->
      <!-- <mat-paginator *ngIf="dataSource.data.length" [ngClass]="{'position-fix': mobile}" #paginator
          [pageIndex]="tablePageIndex" [pageSize]="10" showFirstLastButtons
          (page)="pageEvent=getClientList($event)" [length]="tableLength">
      </mat-paginator> -->
  </div>


  <!-- Mobile View -->

  <div *ngIf="this.mobile==true">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
        <h2 class="mobile-mat-card-heading">{{selectedButtonValue}}</h2>
      </div>
      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
        <mat-form-field appearance="outline" class="search-box search-filter">
          <input [(ngModel)]="searchText" matInput autocomplete="off" type="text" placeholder="Search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
    <mat-card *ngFor="let element of holdingsList | filter:searchText" class="mb-3">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <mat-card-title class="mobile-mat-card-title">Fund Name</mat-card-title>
          <mat-card-subtitle class="mobile-mat-card-subtitle mobile-client-id-color">{{element.fundName}}</mat-card-subtitle>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <mat-card-title class="mobile-mat-card-title">NAV(₹)</mat-card-title>
          <mat-card-subtitle class="mobile-mat-card-subtitle"> {{element.nav}}</mat-card-subtitle>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <mat-card-title class="mobile-mat-card-title">Value(₹)</mat-card-title>
          <mat-card-subtitle class="mobile-mat-card-subtitle">{{element.value}}</mat-card-subtitle>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <mat-card-title class="mobile-mat-card-title">Return Rate(%)</mat-card-title>
          <mat-card-subtitle class="mobile-mat-card-subtitle">{{element.returnRate}}</mat-card-subtitle>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <mat-card-title class="mobile-mat-card-title">Exit Load(%)</mat-card-title>
          <mat-card-subtitle class="mobile-mat-card-subtitle">{{element.exitLoad}}</mat-card-subtitle>
        </div>
      </div>
    </mat-card>
  </div>
  </div>
