    <!-- <div class="auth-content d-flex justify-content-center"> -->
      <!-- <div class="row d-flex align-items-center justify-content-center flex-column"> -->
<!-- <div class="text-center"> -->
  <div class="update-password-close-icon" (click)="close()">
    <mat-icon>
      <img src="../../../../assets/images/close-icon.svg">
    </mat-icon>
  </div>
  <div class="update-password"> 
        <div class="text-center mt-3 ">
          <p class="login-heading">Update Password</p>
        </div>
        <div>
          <p>Enter your Email Id to generate verification code to
            change your password.
        </div>
        <div class="mt-4">
        <form>
          <div class="form-group auth-form-group mb-0 mt-2">
            <!-- <div class="form-group auth-form-group mb-0"> -->
              <mat-form-field class="example-full-width login-form" appearance="outline">
                <mat-icon matPrefix class="form-field-image">
                  <img src="../../../../assets/images/mail-icon.svg">
                </mat-icon>
                <mat-label>E-mail <span class="asterisk-color">*</span></mat-label> 
                <input type="email"
                value={{this.rmEmail}}
                [disabled]="true"
                  formControlName="email" matInput placeholder="E-mail">
                <!-- <mat-error
                  *ngIf="ForgetForm.get('email')?.hasError('email') || ForgetForm.get('email')?.hasError('pattern') ">
                  Please enter a valid email address
                </mat-error> -->
                <!-- <mat-error *ngIf="ForgetForm.get('email')?.hasError('required')">
                  Email is required
                </mat-error> -->
              </mat-form-field>
            </div>
          <!-- </div> -->

          <div>
            <button class=" btn-sm loginbutton  mt-4 mb-3" type="submit" (click)="submit()">
              Generate OTP
            </button>
          </div>
          
        </form>
      </div>
  </div>