.update-password{
    display: flex;
    flex-direction:column;
    padding: 0 10%;
}

.update-password-close-icon{
    display: flex;
    float: right;

}
::ng-deep .mat-dialog-container{
    border-radius: 16px !important;
  }