<div class="update-password-confirm">
    <div class="confirm-image">
      <img src="../../../assets/images/uccActivation.svg" />
    </div>
    <div class="text-center mt-3">
      <p class="login-heading">UCC Activation</p>
    </div>
  
    <div class="text-center mt-3">
      <p class="update-message">
        Are you sure you want to initialte UCC 
        <br>activation for selected client ?
      </p>
    </div>
    <div class="text-center mt-3 mb-3 confirm-ucc">
        <div class="d-flex button-allingment"></div>
      <button id="discard-button" (click)="back()">No</button>
      <button id="submit-button" (click)="submit()">Yes</button>
    </div>
  </div>
  