.cancel-button {
  width: 105px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #56c596;
  border: 1px solid #56c596;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-left: 11px;
}

.broker-card {
  padding: 2rem;
}

#submit-button-add-broker {
  width: 174px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150% !important;
  color: #ffffff;
  background: #56c596;
  box-shadow: 0px 4px 16px rgba(136, 136, 136, 0.45) !important;
  border-radius: 8px !important;
  margin-left: 11px;
}
.mat-form-field {
  width: 90% !important;
}
