<div class="update-password-confirm">
  <div class="confirm-image">
    <img src="../../../assets/images/password-update.svg" />
  </div>
  <div class="text-center mt-3">
    <p class="login-heading">Password Updated</p>
  </div>

  <div class="text-center mt-3">
    <p class="update-message">
      Password updated! Your account is now secure with a new password. Remember
      to keep it safe and confidential.
    </p>
  </div>
  <div class="text-center mt-3 mb-3">
    <button id="submit-button" (click)="close()">Done</button>
  </div>
</div>
