.update-password-confirm{
    display: flex;
    flex-direction:column;
    /* padding: 0 10%; */
}

.confirm-image{
    display: flex;
    background-color: #ECF8F3;
    width: 100%;
    justify-content: center;
    height: 163px;
}
::ng-deep .mat-dialog-container{
    padding: 0px !important;
    border-radius: 15px !important;
}

.login-heading{
    color: #01529E;
}

.update-message{
    margin: 0 6%;
    font-size: 15px;
}
