<div class="container-fluid p-0">
  <div class="row no-gutters page">
    <div class="col-lg-6 d-none d-lg-block login-block">
      <div class="bg-overlay">
        <div
          fxLayout="row wrap"
          fxFlex
          fxShow="false"
          fxShow.gt-md
          fxFill
          fxLayoutAlign="center center"
          class="bg-overlay wrap text-white"
        ></div>
      </div>
    </div>
    <div class="col-lg-6 login-block">
      <div class="auth-content d-flex justify-content-center">
        <div
          class="row d-flex align-items-center justify-content-center flex-column"
        >
          <div class="text-center">
            <img src="assets/images/gemfin-logo.svg" alt="logo" />
          </div>
          <div class="margin-top text-center">
            <p class="login-heading">Create Password</p>
          </div>
          <div>
            <p>
              Create password to get started wit your <br />
              account and complete your onboarding.
            </p>
          </div>
          <form [formGroup]="signUpForm">
            <div>
              <mat-form-field
                class="example-full-width adjust-width login-form email-input someclass"
                appearance="outline"
              >
                <mat-label
                  >New Password <span class="asterisk-color">*</span></mat-label
                >
                <mat-icon matPrefix class="form-field-image">
                  <img src="assets/images/lock-icon.svg" />
                </mat-icon>
                <input
                  #password
                  [type]="show ? 'text' : 'password'"
                  (keyup)="passStrengthCheck($event)"
                  formControlName="password"
                  matInput
                  placeholder=" New Password"
                />
                <button
                  type="button"
                  class="button-hide"
                  matSuffix
                  mat-icon-button
                  (click)="passwordToggle()"
                >
                  <mat-icon *ngIf="show" class="mat-icon" matSuffix>
                    visibility
                  </mat-icon>
                  <mat-icon *ngIf="!show" class="mat-icon" matSuffix>
                    visibility_off
                  </mat-icon>
                </button>
                <button
                  type="button"
                  matSuffix
                  mat-icon-button
                  (click)="passwordDetailsToggle()"
                >
                  <mat-icon matSuffix>info_outline</mat-icon>
                </button>
                <mat-error
                  *ngIf="signUpForm.controls.password?.errors?.required"
                >
                  Password is required
                </mat-error>
              </mat-form-field>
            </div>
            <mat-password-strength
              #passwordComponent
              (onStrengthChanged)="onStrengthChanged($event)"
              [password]="password.value"
            >
            </mat-password-strength>
            <div
              class="tooWeak"
              *ngIf="passwordStrength >= 20 && passwordStrength < 40"
            >
              Poor
            </div>
            <div
              class="Weak"
              *ngIf="passwordStrength >= 40 && passwordStrength < 60"
            >
              Weak
            </div>
            <div
              class="Strong"
              *ngIf="passwordStrength >= 60 && passwordStrength < 100"
            >
              Strong
            </div>
            <div class="tooStrong" *ngIf="passwordStrength === 100">
              Very Strong
            </div>
            <mat-password-strength-info
              *ngIf="showDetails"
              [passwordComponent]="passwordComponent"
            >
            </mat-password-strength-info>

            <div class="confirm mt-1">
              <mat-form-field
                class="example-full-width adjust-width login-form email-input someclass"
                appearance="outline"
              >
                <mat-label
                  >Confirm Password
                  <span class="asterisk-color">*</span></mat-label
                >
                <mat-icon matPrefix class="form-field-image">
                  <img src="assets/images/lock-icon.svg" />
                </mat-icon>
                <input
                  [type]="confirmPassShow ? 'text' : 'password'"
                  formControlName="confirm_password"
                  (paste)="(false)"
                  matInput
                  placeholder="Confirm password"
                  autocomplete="on"
                />
                <button
                  type="button"
                  class="button-hide"
                  matSuffix
                  mat-icon-button
                  (click)="confirmPasswordToggle()"
                >
                  <mat-icon *ngIf="confirmPassShow" class="mat-icon" matSuffix>
                    visibility
                  </mat-icon>
                  <mat-icon *ngIf="!confirmPassShow" class="mat-icon" matSuffix>
                    visibility_off
                  </mat-icon>
                </button>
                <mat-error
                  *ngIf="signUpForm.controls.confirm_password?.errors?.required"
                >
                  Confirm Password is required
                </mat-error>
                <mat-error
                  *ngIf="
                    signUpForm.controls.confirm_password?.errors
                      ?.confirmedValidator
                  "
                >
                  Password and Confirm Password do not match .
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <button
                class="btn-sm loginbutton mt-1"
                type="submit"
                (click)="resetPassword()"
              >
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
