table.mat-table {
  width: 100%;
}
tr.mat-header-row {
  background: #e6f3ff;
}

table .mat-header-cell {
  color: #1a1a1a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: capitalize;
}

table .mat-cell {
  color: #1a1a1a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.template-design {
  display: flex;
  flex-direction: column;
}
.template-background {
  background-image: linear-gradient(to right, #01529e, #54c495),
    url("../../../../../../assets/images/pattern.svg");
}

.logo-image {
  margin-left: auto;
  margin-right: auto;
}

.template-content {
  height: 400px;
  border-radius: 30px 30px 0 0;
  z-index: 9;
  margin-top: -30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-inborder {
  border: 1px solid var(--white-white-100, #fff);
  margin: 80px 80px;
  border-radius: 20px;
  padding: 3% 43%;
}
.logo {
  height: 73.385px;
  width: 106px;
  margin-bottom: 10px;
}

.heading {
  color: var(--primary-clov-31, #01529e);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.report-date {
  color: var(--neutral-black-30, #4d4d4d);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading-values {
  color: var(--neutral-black-10, #1a1a1a);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.index-heading {
  color: var(--neutral-black-10, #1a1a1a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 20px;
}
.index-data {
  color: var(--neutral-black-10, #1a1a1a);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 20px;
}

.rm-head {
  color: var(--neutral-black-10, #1a1a1a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.detail-head {
  color: var(--neutral-black-30, #4d4d4d);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.detail-data {
  color: var(--neutral-black-30, #4d4d4d);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid var(--secondary-gem-90, #d9f2e7);
}
.client-table {
  margin-right: 60px;
  margin-top: 30px;
}
.rm-table {
  margin-left: 60px;
  margin-top: 30px;
}

.hide-in-ui {
  display: none;
}

.check {
  height: 200px !important;
}

.overlay {
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 99999;
  top: 0;
  left: 0;
  position: fixed;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.pdf-generate-title {
  color: black;
  position: absolute;
  top: 55%;
  text-align: center;
  left: 47%;
  font-weight: 500;
}
