.overlay {
  height: 100vh;
  width: 100%;
  background: rgba(1, 82, 158, 0.2);
  z-index: 99999;
  top: 0;
  left: 0;
  position: fixed;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
