<div class="row">
  <button type="button" class="close" (click)="onClose()" aria-label="Close">
    <span aria-hidden="true"><i class="material-icons cross-icon">close</i></span>
  </button>
</div>
<div class="row">
  <img class="clovek-wealth-logo" src="../../../../assets/images/clovekWealthLogo2.svg">
</div>
<div class="row mt-3">
  <img class="password-lock-logo" src="../../../../assets/images/bseCreds.svg">
</div>
<div class="row mt-4">
  <h1 class="heading">BSE Credentials</h1>
</div>
<div class="row">
  <h2 class="subheading">Your password is encrypted and securely saved with us.
  </h2>
</div>
<div class="row mt-4 mb-4">
  <button (click)="onClose()" class="proceed-button">Proceed</button>
</div>

