.heading {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #141522;
}

.subheading {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
}

.proceed-button {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  background: #01529E;
  border-radius: 8px;
  padding: 8px 16px;
  width: 92%;
  height: 48px;
  margin:auto;
}

.clovek-wealth-logo {
  width: 300px;
  height: 62.47px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.password-lock-logo{
  width: 120px;
  height: 102px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close{
  border:none;
  background-color: transparent;
}

.cross-icon{
  float:right;
}
.bse-credential-form{
  margin:auto;
}

.mat-icon{
  width: 27px;
  margin-bottom: -3px;
  height: 27px;
  margin-right:15px;
}

::ng-deep .bse-credential-confirmation-modal .mat-dialog-container {
  background: #FAFAFA;
  border-radius: 16px;
}
